<head>
  <title>Lu's Skills Assessment</title>
  <style>
    body {
      padding-top: 20px;
      text-align: center;
      background-color: white;
      background-size: cover;
      background-position: center;
      color: black;
      font-family: helvetica;
    }
    p {
      font-size: 18px;
    }
    input {
      border: 1;
      border-color: black;
      padding: 12px;
      font-size: 14px;
    }
    input[type="submit"] {
      background: black;
      color: white;
    }
  </style>
</head>

<body>
  <p style="line-height: 30px">Hi there! <br/>Please enter your phone number.</p>

<%= render 'form' %>

<%= link_to 'Back', numbers_path %>
</body>